<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace = "User/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is Contact add page.</title>
</head>
<body>
<h1>This is Contact page</h1>
<section>
	
	<div class = "card mr-3">
		<div class = "card-body">
		<h1 class = "text-center">Add Contact</h1>
			<div class = "container-fluid mt-1">
				<div class = "row">
					<div class = "col-md-10 offset-md-1">
						
						<form
						th:object = "${contact}"
						enctype = "multipart/form-data"
						method = "POST"
						th:action = "@{/User/process-contact}"
						class = "mt-2">
						<!-- first name -->
						<div class = "input-group">
							<div class = "input-group-prepend">
								<div class = "input-group-text">
									<i class = "fa fa-plus"></i>
								</div>
							
							</div>
						<input type = "text" id = "firstname" name = "name" placeholder = "Enter name here" class = "form-control"/>
						</div>
							
						<!-- second name -->	
						<div class = "input-group mt-3">
							<div class = "input-group-prepend">
								<div class = "input-group-text">
									<i class = "fas fa-user-alt"></i>
								</div>
							
							</div>
						<input type = "text" id = "secondName" name = "secondName" placeholder = "Enter name here" class = "form-control"/>
						</div>
						<!-- phone  -->
						<div class = "input-group mt-3">
							<div class = "input-group-prepend">
								<div class = "input-group-text">
									<i class = "fa fa-phone"></i>
								</div>
							
							</div>
						<input type = "number" id = "phone" name = "phone" placeholder = "Enter phoneno here" class = "form-control"/>
						</div>
						<!-- email  -->
						<div class = "input-group mt-3">
							<div class = "input-group-prepend">
								<div class = "input-group-text">
									@
								</div>
							
							</div>
						<input type = "email" id = "email" name = "email" placeholder = "Enter email here" class = "form-control"/>
						</div>
						
						<!-- work  -->
						<div class = "input-group mt-3">
							<div class = "input-group-prepend">
								<div class = "input-group-text">
									<i class = "fa fa-briefcase"></i>
								</div>
							
							</div>
						<input type = "text" id = "work" name = "work" placeholder = "Enter work here" class = "form-control"/>
						</div>
						
						<!-- discription  -->
						<div class = "form-group mt-3">
							<textarea name = "description" id = "description" class = "form-control" placeholder = "Enter contact description" rows = "10"></textarea>
						</div>
						
						<div class = "custom-file">
						<input type = "file" name = "profileImage"/>
						
						</div>
						
						<div class = "container text-center">
						<button class = "btn btn-outline-primary">Save Contact</button>
						</div>
						
						</form>
						
					</div>
					
				</div>
			
			</div>
		
		</div>
	
	
	</div>
</section>
</body>
</html>